@media screen and  (max-width : 497px)
{
    .nav-toogle
    {
        display: block;
        margin-right: 20px;
    }
    .navmenuItems
    {
        display: none;

    }
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    p {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        color: var(--secondary-color);
        /* line-height: 1.8rem; */
    }
    .hero-section
    {
        flex-direction: column-reverse;
    }
    .hero-section-img
    {
    max-width: 100vw;
    }
    .content-left
    {
        max-width: 100vw;
        text-align: center;
    }
    .content-right
    {
        max-width: 100vw;
        
    }
    .feature-card
    {
        min-width: 100%;
    }
}